# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Django
db.sqlite3
staticfiles/
media/
*.log

.env

.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
.DS_Store

# Node (сборка Tailwind)
node_modules/

# Vite build output
/static/
