{% extends "catalog/base.html" %}
{% block title %}
    {% if form.instance.pk %}
        Правка песни
    {% else %}
        Новая песня
    {% endif %}
{% endblock %}
{% block content %}
    <h1 class="mb-5 text-2xl font-bold">
        {% if form.instance.pk %}
            Правка песни
        {% else %}
            Новая песня
        {% endif %}
    </h1>
    {% url 'catalog:song-list' as cancel_url %}
    {% include "catalog/components/model_form.html" with cancel_url=cancel_url %}
{% endblock %}
